*{
    font-family:var(--bs-font-sans-serif);
}

body{
    background: rgb(7,166,170);background: linear-gradient(90deg, rgba(7,166,170,1) 0%,#00B4DB 48%,#0083B0 100%);
}
p {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

#heading {
text-transform: uppercase;
background: -webkit-linear-gradient(45deg,#00B4DB, #0083B0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: normal
}

fieldset{
background-repeat: no-repeat;
background-position: center;
background-size:cover;
background-blend-mode: luminosity;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
padding:30px;
}

#msform {
text-align: center;
}

#msform fieldset {
border: 0 none;
border-radius: 0.5rem;
box-sizing: border-box;
width: 100%;
margin: 0;
padding-bottom: 20px;
position: relative
}
.next{
display: flex;
align-items: flex-end;
justify-content: center;
}
.rate-card {
text-align: left;
}

#msform fieldset:not(:first-of-type) {
display: none
}

#msform textarea {
padding: 8px 15px 8px 15px;
border-radius: 5px;
margin-bottom: 25px;
margin-top: 2px;
width: 100%;
box-sizing: border-box;
font-family:sans-serif;
color: #2C3E50;
font-size: 16px;
letter-spacing: 1px;
}

.action-button {
width: 100px;
background: #00B4DB;
box-shadow: 0 4px 30px rgba(24, 114, 249, 0.607);
font-weight: bold;
color: white;
border: 0 none;
border-radius: 5px;
cursor: pointer;
padding: 10px 5px;
margin-top: 2%;
float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
background-color: #0a6adf
}

#msform .action-button-previous {
    width: 100px;
    background: #0083B0;
    box-shadow: 0 4px 30px rgba(13, 98, 226, 0.789);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: 2%;
    margin-right: 2%;
    float: right;

}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
background-color: #045f98
}



.card {
z-index: 0;
border: none;
position: relative;
margin-top: 0;
}

.fs-title {
font-size: 2em;
margin-top: 1%;
font-weight: normal;
text-align: left
}



.steps {
font-size: 25px;
color: gray;
margin-bottom: 10px;
font-weight: normal;
text-align: right
}

.fieldlabels {
color: gray;
text-align: left
}

.bck:hover {
color: yellow;
}


.fit-image {
width: 100%;
object-fit: cover
}
.fa-star:before {
    content: "\f005";
}

.rating-list span i.yellow {
    color: #FFD700;
}


.rating-list span i.gray {
    color: #bbb;
}

.list-inline span, .list-inline p{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.rating-list span {
    padding: 0px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/6 FontAwesome;
    font-size: 25px;
    line-height: 0%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.rateMsg {
    font-size: 25px;
    font-weight: bold;
    font-family: Poppins;
}


input.star { display: none; }

label.star {
float: right;

font-size: 36px;
color: #444;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star-4:checked ~ label.star:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star-4:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
#awakazaLogo{
    height: 90px;
    border-right: 50%;
}

.foot{

}
label{
    font-size: 1.3em;
}
#footer{
    display: flex;
    align-items: baseline;

}

.scrolly{
    height:400px;
    padding: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 25%;
    margin-top: 25px;
    border: 1px dotted  rgb(54, 145, 231);
}
.bck{
    height: 50px;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 25px ;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0083B0;
    border-radius: 25px ;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1e82f5;
  }

  #circlebook{
    color: white;
    padding-top: 25px;
  }

  #circlebook a{
    color: white;
  }

  .progress-bar{
    background-color: #1e82f5;
  }

  .progress{
      height: 25px;
      margin-bottom: 10px;
  }

  .progress100{
    margin: 0 25%;
  }

  .done{
      margin-bottom: 3%;
  }
 .finalPage{
     height: 350px;
     margin-bottom: 3%;
 }


/*-------------------- media queries --------------------*/

/*for tablet devices*/
@media screen and  (max-device-width: 1280px){

    #heading{
        font-weight: bold;
    }

    .fs-title {
        margin-bottom:0;
    }
    .scrolly{
        height:350px;
        padding-top: 2%;
        padding-right: 10%;
    }
    #fillForm{
        font-size: 1em;
        color: white;
    }
    .done{
        padding: 2%;
    }
    .txtArea{
        padding: 0% 10%;
    }
    .lstPgeBtn{
        padding: 10%;
        padding-top: 0px;
    }


}

/*for tablet devices - portraits*/
@media only screen and (max-width: 1024px) {
    .scrolly{
        height:350px;
        padding-top: 2%;
        padding-right: 0;
    }
    .text-danger,.text-light,.text-success,.text-warning{
        font-size: 15px;
    }
    form{
        padding: 0px;
    }
    fieldset{
        padding: 3%;
    }
    .ratecol{
        margin: 0;
        padding: 0;
        border: 0;
    }

    .done{
        padding: 5%;
    }
    .txtArea{
        padding: 0% 10%;
    }
    .lstPgeBtn{
        padding: 10%;
        padding-top: 0px;
    }

}

/*for mobile devices*/
@media screen and  (max-device-width: 480px){
    p{
        font-size: 0.8em;
    }
    #heading{
        font-size: 1.5em;
    }
    #fillForm{
        font-size: 1em;
    }
    .pointers{
        font-size: 1.2em;
    }
    .fs-title {
        font-size:1.1em;
        font-weight: bold;

    }

    #nextButtonFirst {
        margin-top: 10%;
    }

    form{
        padding: 2%;
    }
    #msform .action-button-previous {
        margin-right: 5%;
    }

    .scrolly{
        height:250px;
        padding: 0%;
    }
    .fa-star{
        font-size: 1em;
    }
    .ratingPoint{
        font-size: 0.9em;
    }
    .progress{
        margin-bottom: 15px;
    }
    .text-danger,.text-light,.text-success,.text-warning{
        font-size: 8px;
    }
    fieldset{
        padding:0;
    }
    .bck{
        height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .done{
        padding: 2%;
    }
    .txtArea{
        padding: 0% 10%;
        padding-bottom: 2%;
    }
    .lstPgeBtn{
        padding: 10%;
        padding-top: 0px;
        padding-bottom: 0;
    }
    .progress100{
        margin: 0 10%;
      }


}
